<!-- Index.cshtml
    Author: Samantha Rupnick
    Purpose: The main page for the Cowboy Cafe website -->

@page
@model IndexModel
@using CowboyCafe.Data
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1> Cowboy Cafe</h1>
    <p>
        We at Cowboy Cafe are proud to bring you authentic trail
        meals from the American West. Shake off the dust on your boots
        and sake your thirst with one of our old-fashioned hand-jerked
        sodas. Dip your Pan de Campo into a bowl of beans. Or conquer
        the the mighty Texas Triple Burger! You’ve had a hard ride -
        so take it easy with us.
    </p>
</div>

<form id="menu-form">

    <!-- Filter by Item Name -->
    <div id="search">
        <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
        <input type="submit" value="Search" />
    </div>

    <div id="filters">
        <!-- Filter by Item Type (Entree, Drink, Side) -->
        <h4>Type</h4>
        @foreach (String item in Menu.ItemTypes)
        {
            <label>
                <input type="checkbox" name="Types" value="@item" checked="@Model.Types.Contains(item)" /> @item
            </label>
        }

        <!-- Filter by Calories -->
        <h4>Calories</h4>
        <div>
            Between
            <input name="CalMin" type="number" min="0" max="1000" step="1" placeholder="min" value="@Model.CalMin" />
            and
            <input name="CalMax" type="number" min="0" max="1000" step="1" placeholder="max" value="@Model.CalMax" />
        </div>

        <!-- Filter by Price -->
        <h4>Price</h4>
        <div>
            Between
            <input name="PriceMin" type="number" min="0" max="100" step=".01" placeholder="min" value="@Model.PriceMin" />
            and
            <input name="PriceMax" type="number" min="0" max="100" step=".01" placeholder="max" value="@Model.PriceMax" />
        </div>
    </div>

    <!-- Displays the Full or Filtered Menu -->
    <div id="menu" class="fl-columns">

        <!-- Displays Entree Items -->
        <h2>Entrees</h2>
        <div class="menu-item">
            <ul>
                @foreach (IOrderItem item in @Model.Menus)
                {
                    @if (@item is Entree)
                    {
                        <li>
                            <h3 class="name">@item</h3>
                            <div class="details">
                                <h3 class="price">@String.Format("{0:c}", item.Price)</h3>
                                <h3 class="calories">@item.Calories</h3>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

        <!-- Displays Side Items -->
        <h2>Sides</h2>
        <div class="menu-item">
            <ul>
                @foreach (IOrderItem item in @Model.Menus)
                {
                    @if (@item is Side)
                    {
                        <li>
                            <h3 class="name">@item</h3>
                            <div class="details">
                                <h3 class="price">@String.Format("{0:c}", item.Price)</h3>
                                <h3 class="calories">@item.Calories</h3>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>

        <!-- Displays Drink Items -->
        <h2>Drinks</h2>
        <div class="menu-item">
            <ul>
                @foreach (IOrderItem item in @Model.Menus)
                {
                    @if (@item is Drink)
                    {
                        <li>
                            <h3 class="name">@item</h3>
                            <div class="details">
                                <h3 class="price">@String.Format("{0:c}", item.Price)</h3>
                                <h3 class="calories">@item.Calories</h3>
                            </div>
                            <!-- Displays Soda Flavors if Jerked Soda is on the Menu -->
                            @if (@item is JerkedSoda)
                            {
                                <h3>Jerked Soda Flavors</h3>
                                <div class="details">
                                    <h3 class="soda-flavors">Cream Soda</h3>
                                    <h3 class="soda-flavors">Orange Soda</h3>
                                    <h3 class="soda-flavors">Sarsparilla</h3>
                                    <h3 class="soda-flavors">Birch Beer</h3>
                                    <h3 class="soda-flavors">Root Beer</h3>
                                </div>

                            }
                        </li>
                    }
                }
            </ul>
        </div>
        @foreach (IOrderItem item in @Model.Menus)
        {

        }
    </div>
</form>